.App {
  width: 100%;
  text-align: center;
}

.Chat-Sidebar{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 2em;
  overflow-y: none;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
}

.Chat-Box{
  height:50vh;
  overflow: auto;
  padding-left: 0.5em;
  margin: 0 5%;
  width: 90%;
  background-color: white;
}

@media (pointer:none), (pointer:coarse) {
  .Chat-Sidebar{
    display: none;
  }
}

.Chat-Title{
  margin: 0 5%;
  text-align: left;
  margin-bottom: 0px;
}

.Lobby-Box{
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0 5%;
}

.Lobby-Name{
  text-align: left;
}

.Chat-Msg{
  text-align: left;
  display: block;
}

.Chat-Query-Box{
  margin-left: 5%;
  display: flex;
  padding-top: 0.5em;
  width: 90%;
  justify-content: space-between;
}

.Type-Msg{
  width: 80%;
}

.Msg-Button{
  float: right;
  height: 25px;
  width: 15%;
}