body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.View{
  width: 100%;
  height: 100vh;
}

.Main-Interface{
  display: flex;
  align-items: flex-end;
  justify-content:space-between;
}

.Player-State{
  width: 30%;
  height: 100%;
}


.Table{
  width: 40%;
  height: 700px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Chat-Room{
  width: 25%;
  align-items: bottom;
  justify-content: right;
}

@media (pointer:none), (pointer:coarse) {
  .Table{
    width: fit-content;
    height: 700px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}