table{
    width: 100%;
    padding-left: 2em;
}

.Table-Div{
    width: 100%;
}

td {
    border: 1px solid black;
    background-color: white;
    width: 14%;
    height: 5em;
}


td:hover{
    background-color: rgba(0,0,0,0.4);
}


