table{
    width: 100%;
    padding-left: 2em;
}

.Game-Table{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square{
    border: 1px solid black;
    width: 5em;
    height: 5em;
    text-align: center;
}

.square:hover, .Start-Sign:hover{
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

#Start-Sign{
    border: 2px solid black;
    max-width: fit-content;
}

#Wait-Sign{
    display: none;
}

#Win-Message{
    display: none;
}