table{
    width: 100%;
    padding-left: 2em;
}

.Game-Table{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square{
    width: 5em;
    height: 5em;
    background-image: url('../public/slot.png');
    background-size:contain;
    text-align: center;
    z-index: 1;
}

.square-fill{
    fill: attr(fill-color);
    cx: 50%;
    cy: 50%;
    r: 1.8em;
    z-index:0;
}

.square:hover, .Start-Sign:hover{
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

#Start-Sign{
    border: 2px solid black;
    max-width: fit-content;
}

#Wait-Sign{
    display: none;
}

#Win-Message{
    display: none;
}